
.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-horizontal {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  visibility: 'hidden';
}

